/* scrolling smooth */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f0f0f;
}


/* STYLING HEADER && NAVIGATION SECTION */
nav ul {
    color: rgb(29, 216, 207);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold; 
    background:linear-gradient(to bottom,#2e858b,white)
    padding:20px;
}
nav ul {
    display:flex;
    justify-content:center;
    gap: 20px;
    list-style: none;
    
}
a:link {
    color:tomato;
}




a:hover {
    color:red;

}
a:active {
    color: rgb(0, 38, 255);
}

/* HERO SECTION */

h1  {
    color: #12c9d6;
    font-size: 50px;
    font-weight: 200px;
    font-style: italic;
    text-align: center;
    text-shadow: #0ac5e6;    
}

.car-images ul img {
    height: 550px;
    width: 400px;   

}

.car-images ul {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 3,400px;
    gap:20px;
    list-style: none;
}
.car-images p {
    color:#0ecfdd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;    
}

.aesthetic ul img {
    height: 550px;
    width: 400px; 
}

.aesthetic ul {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 3,400px;
    gap:20px;
    list-style: none;
}

.aesthetic p {
    color:#0ecfdd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;    
}
.motivation ul img {
    height: 550px;
    width: 400px; 
}

.motivation ul {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 3,400px;
    gap:20px;
    list-style: none;
}
.motivation p {
    color:#0ecfdd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder; 
}

.wildlife ul img {
    height: 550px;
    width: 400px;
}

.wildlife ul {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 3,400px;
    gap:20px;
    list-style: none;
}

.wildlife p {
    color:#0ecfdd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder; 
}

.motivation p {
    color:#0ecfdd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder; 
}

/* FOOTER STYLING */
footer p {
    color:#0ed1df;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    background-color: #1a1918;
    font-style: italic;
    text-align: center;
}


