/* scrolling smooth */
html {
    scroll-behavior: smooth;
}


/* Body Styling */
body {    
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color: #1a1918;   
}

/* STYLING HEADER && NAVIGATION SECTION */
nav ul {
    color: blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold; 
    background: linear-gradient(to top,black,white,yellow,green);
    padding:20px;
}
nav ul {
    display:flex;
    justify-content:center;
    gap: 20px;
    list-style: none;
    
}


a:hover {
    color:red;

}
a:active {
    color: rgb(0, 38, 255);
}


/* Making hero-img fit perfextly */
.hero img {
    height:100%;
    width: 100%;
    margin:0;
    padding:0;
}

/* Styling the h1 */
h1 {
    color: #480af1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    text-align: center; 
    text-decoration:dotted;
    text-decoration-line: underline;
          
}

.my-pic img {
    
    height: 350px;
    width: 450px;
    margin: 0;
    border-radius: 40px;
}

.my-pic {
  width: 700px;
  float: left;
  margin: 0px;
  max-width:450px;
}

 p {
    color: #db1471;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    max-width: 1800px;
    text-align: center;
    font-style: italic;
}
/* ABOUT SECTION */

.img-diplay ul img {
    height: 500px;
    width: 600px; 
}
.img-diplay ul {
    display: flex;
    align-items: center;
    list-style: none;    
}

.img-diplay p {
    font-family: 'Times New Roman', Times, serif;
    color: #c7f10a;
    font-size: 50px;
    font-weight: bolder;
}
/* COLLABORATION */
.collaboration {
    text-align:center ;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;

}


/* FOOTER STYLING */
footer p {
    color:#f1bb09;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    background-color: #1a1918;
    font-style: italic;
    text-align: center;
}





