/* Body Styling */

/* STYLING HEADER && NAVIGATION SECTION */
nav ul {
    color: blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold; 
    background: linear-gradient(to top,black,white,yellow,green);
    padding:20px;
}
nav ul {
    display:flex;
    justify-content:center;
    gap: 20px;
    list-style: none;
    
}
a:link {
    color:tomato;
}




a:hover {
    color:red;

}
a:active {
    color: rgb(0, 38, 255);
}


/* Making hero-img fit perfextly */
.hero img {
    height:100%;
    width: 100%;
    margin:0;
    padding:0;
}

/* Styling the h1 */
h1 {
    color: #480af1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    text-align: center;        
}

.my-pic img {
    float: left;
    height: 325px;
    width: 450px;
    margin: 0;
    border-radius: 40px;
}

.my-pic {
  width: 700px;
  float: left;
  margin: 0px;
  max-width:450px;
}

 p {
    color: #ad14db;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
   


